@font-face {
  font-family: 'Love Ya Like A Sister';
  src: local('Love Ya Like A Sister'),
        url('../fonts/LoveYaLikeASister.ttf');
}

@font-face {
  font-family: 'Vidaloka';
  src: local('Vidaloka'),
        url('../fonts/Vidaloka-Regular.ttf');
}

@font-face {
  font-family: 'Noto';
  src: local('Noto'),
        url('../fonts/NotoSans-Regular.ttf');
}

h1 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 500;
}

h2 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 0.5em;    
}

h3 {
    margin: 0em;
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 500;
}

h4 {
    margin: 0em;
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 500;
}

body {
    background: url('../images/background.png');
    background-repeat: repeat;
    font-family: 'Vidaloka', sans-serif;
    font-size: 2vw;
    padding: 0px;
    margin: 0px;
}

.frame0 { position: absolute; top: 0; left: 0%; }
.frame1 { position: absolute; top: 10vw; left: 20vw; }
.frame2 { position: absolute; top: 0; left: 35vw; }
.frame3 { position: absolute; top: 15vw; left: 45vw; }
.frame4 { position: absolute; top: 0; left: 65vw; }
.frame5 { position: absolute; top: 10vw; left: 81vw; }

.portrait0 { position: absolute; top: 4vw; left: 3vw; width: 12vw; }
.portrait1 { position: absolute; top: 4vw; left: 0vw; width: 14vw; transform: rotate(90deg); }
.portrait2 { position: absolute; top: 2vw; left: 2vw; width: 14vw; }
.portrait3 { position: absolute; top: 2vw; left: 2vw; width: 14vw; }
.portrait4 { position: absolute; top: 4vw; left: 0vw; width: 14vw; transform: rotate(90deg); }
.portrait5 { position: absolute; top: 4vw; left: 0vw; width: 14vw; transform: rotate(90deg); }

.cframe0 { position: absolute; top: 0; left: 0%;  width: 18vw;}
.cframe1 { position: absolute; top: 0; left: 20%; height: 18vw;}
.cframe2 { position: absolute; top: 0; left: 40%; width: 18vw;}
.cframe3 { position: absolute; top: 0; left: 50%; width: 18vw;}
.cframe4 { position: absolute; top: 0; left: 70%; height: 18vw;}
.cframe5 { position: absolute; top: 0; left: 90%; height: 18vw;}

.personality-portrait {
  position: relative;
  margin-top: 25%;
  top: 0;
  left: 0;
}

.pp-pic {
    position: relative; 
    margin-top: 20%; 
    margin-bottom: 25%; 
    left: -10%; 
    width: 110%;
    transform: rotate(90deg); 
}

.pp-frame {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
}


/* forcing everything into 16:9 aspect ratio all the time */

.force-aspect {
    position: absolute;
    width: 100%; 
    padding-bottom: 56.25%; 
}

div.stretchy-wrapper {
    position: relative;
}

div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

/* for text mainly */

.centred-block {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}

.full-width-centred-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
}

.about-block {
    background-size: 85vw auto;
    margin-left: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.about-text {
    font-size: 85%;
    padding: 1em;
    background: rgba(202,241,131,0.6);
    float: left;
    width: 50%;
    overflow: hidden;
}

/* results stuff */

.personality-block {
    margin-left: 15vw;
    width: 65vw;
    height: 30vw;
    justify-content: center;
    text-align: center;    
    background: rgba(202,241,131,0.6);
    padding: 2em;
}

.results-block {
    margin-left: 10vw;
    width: 80vw;
    height: 34vw;
    justify-content: center;
    text-align: center;    
    background: rgba(202,241,131,0.6);
}

.results-block.p {
    text-align: left;    
}


.left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.right {
    overflow: hidden;
}

/* sigh */
.results-text {
    text-align: left;    
    padding-right: 4vw;
}

.results-image {
    width: 35vw;
    height: auto;
}

.results-axes-container {
    position: absolute; 
    left: 2vw; 
    top: 2.5vw;
}

.results-axes {
    width: 33vw;
    height: auto;
}

.results-axes-x {
    font-size: 75%;
    position: absolute; 
    left: 2vw; 
    top: 21.5vw;
}

.results-axes-y {
    transform: rotate(-90deg);
    font-size: 75%;
    position: absolute; 
    left: -3.5vw; 
    top: 11vw;
}

.results-tab {
    font-family: 'Love Ya Like A Sister', sans-serif;
    text-transform: uppercase;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
    text-align: center;    
    background: #f2ff38;
    border: 2px solid black;
    margin: 3vw;
    position: relative;
}

.daynight {
    background-image: linear-gradient(to right, #f2ff38, #93d9cc);
}

.personality-pointer {
    position: absolute;
    top: -2vw;
    margin-left: -1vw;
}

.results-pointer {
    position: absolute;
    top: 0vw;
    justify-content: center;
    text-align: center;    
}

.results-pointer-text {
    justify-content: center;
    text-align: center;    
    font-size: 75%;    
}

.more-results {
    position: absolute; 
    top: 35%; 
    width: 10%;
}

.more-results a {
    font-family: 'Love Ya Like A Sister', cursive;
    text-decoration: none;
    color: black;
}

/* container row for buttons */

.button-row {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;    
    clear:both;
}

button {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 4vw;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background: rgba(202,241,131,0.6);
    border: 0px solid #fff;
    border-radius: 0.2em;
    white-space: nowrap;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: inline-block; 
}

button.small {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2.5vw;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background: rgba(202,241,131,0.6);
    border: 0px solid #fff;
    border-radius: 0.2em;
    white-space: nowrap;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    display: inline-block;
}

button.micro {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5vw;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background: rgba(202,241,131,0.6);
    border: 1px solid #000;
    border-radius: 0.2em;
    white-space: nowrap;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    display: inline-block;
}

button.image {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5vw;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background: rgba(202,241,131,0.6);
    border: 0px solid #fff;
    border-radius: 0.2em;
    white-space: nowrap;
    margin: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: inline-block;
    text-align: center;
}

button:active { 
    background-color: #ededf0; 
}

button:focus { 
    outline: none;
}

.image-button-image {
    width: 9.5vw;
    height: auto;
    display: block;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.highlight {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
      background: #f2ff38;
  }
}

/* video shenanigans */

.video-top { 
    width: 100%; 
}

.video-container {
    float: left;
    width: 55%;
    margin-left: 3%;
}

.video-button-container {
    float: left;
    width: 40%;
    height: 100%;
}

video {
    width: 100%;
    height: 34vw;
}

button.play,
button.pause {
    margin: 0em;
    padding: 0em;
    width: 7vw;
    height: 7vw;
    border: 0px;
    margin-top:-0.4em;
    outline: 0;
}

.video-popup {
    position: absolute;
   /* pointer-events: none; */
    background: #f2ff38; 
    top: 38.4vw;
    height: 5vw;
    line-height: 5vw;
    width: 53.8vw;
    padding: 0.2em;
    font-size: 1.8vw;    
    z-index: 100;
}

#popup-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.timeline-container {
    width: 100%;
    display: block;
    overflow: visible;
    white-space: nowrap;
}

.timeline {
    position: relative;
    width: 39vw;
    display: block;
    float: left;
    overflow: visible;
}

.timeline_line {
    margin-top: 2vw;
    background-color: black;
    height: 2px;
    position: relative;
}

.time {
    margin-left: 0.1vw;
    background-color: #000;
    /*-webkit-transition: left 1.5s linear;
    -moz-transition: left 1.5s linear;*/
    border-radius: 1vw;
    width: 1.3vw;
    height: 1.3vw;
    text-align: center;
    position: relative;
    top: -0.7vw;
}

.leaderboard-column {
    width: 25%; 
    float: left; 
    justify-content: center; 
    text-align: center;
    padding-top: 16vw;
}

.leaderboard-central {
    width: 50%; 
    height: 38vw;
    float: left; 
    justify-content: center; 
    text-align: center;
    background: rgba(202,241,131,0.6);
    border: 0px solid #fff !important;
    border-radius: 0.2em;
}

.lang-select {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2.5vw;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background: rgba(202,241,131,0.6);
    border: 0px solid #fff !important;
    border-radius: 0.2em;
    white-space: nowrap;
    margin: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: inline-block;
    text-align: center;
    margin-bottom: -20vw;
}

#kb-text {
    background: #f2ff38; 
    padding-left: 0.2em; 
    padding-right: 0.2em;
}

/* The popup form - hidden by default */
.ipopup {
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  width:30vw;  /* adjust as per your needs */
  height:30vw;   /* adjust as per your needs */
  margin-left:-15vw;   /* negative half of width above */
  margin-top:-15vw;   /* negative half of height above */
  z-index: 9;
}

/* Add styles to the form container */
.icontainer {
  padding: 10px;
  background-color: white;
}

/* classroom version ------------------------------------------------- */

