{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">

  <h2>Register your class</h2>

  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
  </form>

  <p>
    Make a record of your group ID so you can give it to your students.
  </p>
  
</div>

{% endblock %}
