{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<form action="/i18n/setlang/" method="post" style="margin-left:1em;" >
  {% if request.session.exhib %}
  Language:
  {% endif %}
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  <select class="lang-select" name="language" onchange="this.form.submit()">
    {% get_current_language as LANGUAGE_CODE %}
    {% for lang in LANGUAGES %}
    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
      {% if lang.0 == "en" %}English{% endif %}
      {% if lang.0 == "es" %}ESPAÑOL{% endif %}
      {% if lang.0 == "zh" %}中文{% endif %}
    </option>
    {% endfor %}
  </select>
</form>

<div class="centred-block">
<h1 {% if "es" == LANGUAGE_CODE %} style="margin: 0; font-size:300%;" {% else %} style="margin: 0;" {% endif %}>{% trans "Cricket Tales" %}</h1>
</div>

<div class="button-row">
  <img src="/media/images/twitch2.gif" style="width: 10wv;">
</div>

<div class="centred-block">
{% trans "Some of us are morning people, others like evenings better. Are insects the same as us?" %}
</div>

<div class="centred-block">
{% trans "Help find out by playing this game!" %}
</div>

<div class="button-row">
  <button onclick="window.location.href='/login/'">
    {% trans "START" %}
  </button>
</div>

<div class="button-row">
  <img src="/media/images/exeter_logo.png" style="width: 20wv; height: auto;">
  <img src="/media/images/logo_cricket.png" style="width: 20wv; height: auto;">
  <img src="/media/images/nerc logo.jpg" style="width: 20wv; height: auto;">
</div>

<div id="iphone" class="ipopup">
  <div class="icontainer">
    {% trans "Oh no! You appear to be using an iPhone." %}<p>
    {% trans "Apologies - due to the way Apple implements videos, Cricket Tales may not work correctly on your device." %}</br>
    <div style="text-align: center;">
    <button onclick="document.getElementById('iphone').style.display = 'none';">Ok</button>
    </div>
  </div>
</div>

<script>
  if (iphone()) {
    document.getElementById("iphone").style.display = "block";
  }
</script>

{% endblock %}
