{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}
<div class="centred-block">

  <h2>Hello</h2>
  
  <form action="/login/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
  <p>
    <a href="/newclassgroup/">Setup a new classroom</a>
  </p>
</div>


{% endblock %}
