{% extends "base.html" %}
{% load i18n %}

{% block crickets_stuff %}

<div class="centred-block">

  <h2>Welcome wonderful person from {{class_name}} at {{school_name}}</h2>

  <p>Watch scientist Professor Tom Tregenza explain Cricket Tales</p>
  
  <p>Insert Video Here</p>
  
  <div class="button-row">
    <button onclick="window.location.href='/training/'">
      {% trans "NEXT" %}
    </button>  
  </div>

</div>

{% endblock %}
